*::-webkit-scrollbar{
    display: none;
}
html,body{
    width: 100vw;
    margin: 0;
    color: #E4E6EB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, '微軟正黑體';
}
#background{
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: #18191ade;
    border-radius: 50px;
    border: 5px solid #393A3B;
    overflow: hidden;
}
#item{
    position: fixed;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: aqua;
    border-radius: 50%;
    cursor: pointer;
    left: 20px;
    top: 20px;
    z-index: 10;
    -webkit-app-region: drag;
}
#main{
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-rows: 80px auto auto auto auto;
    grid-gap: 5px;
    align-items: center;
    text-align: center;
    margin: 20px 20px;
}
#big{
    position: relative;
    font-size: 75px;
}
#middle{
    font-size: 25px;
}
#small{
    color: #00b4b4;
    font-size: 23px;
}
#slime{
    color: #00b4b4;
    font-size: 15px;
}
button{
    cursor: pointer;
    box-sizing: border-box;
    width: 120px;
    height: 60px;
    color: #E4E6EB;
    border: none;
    background-color: #2E2E2E;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: inset 3px 3px rgb(100, 102, 104), 2px 2px 3px #18191A;
    outline: none;
}
#split{
    margin: 0 8px;
}
#title{
    display: grid;
    grid-template-columns: 80px 140px 140px;
    font-size: 20px;
    margin-top: 10px;
}
.list{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100px 130px 130px;
    font-size: 25px;
    margin-top: 10px;
    border-top: 2px solid rgb(216, 211, 201);
}
.split_main_text{
    font-size: 23px;
}
.split_sub_text{
    font-size: 12px;
}
.set_ans{
    width: 360px;
    display: inline-block;
}
#split_place{
    max-height: 315px;
    overflow: auto;
}